accelerate==0.27.2
annotated==0.0.2
annotated-types==0.6.0
anyio==4.3.0
asgiref==3.7.2
certifi==2024.2.2
chardet==3.0.4
charset-normalizer==3.3.2
diffusers==0.26.3
diskcache==5.6.3
distro==1.9.0
Django==5.0.3
docker==7.0.0
filelock==3.13.1
FLAML==2.1.1
fsspec==2024.2.0
googletrans==4.0.0rc1
h11==0.14.0
h2==3.2.0
hpack==3.0.0
hstspreload==2024.3.1
httpcore==1.0.4
httpx==0.27.0
huggingface-hub==0.21.4
hyperframe==5.2.0
idna==2.10
image==1.5.33
importlib_metadata==7.0.2
Jinja2==3.1.3
MarkupSafe==2.1.5
mpmath==1.3.0
networkx==3.2.1
numpy==1.26.4
openai==1.13.3
packaging==23.2
peft==0.9.0
pillow==10.2.0
psutil==5.9.8
pyautogen==0.2.15
pydantic==2.6.3
pydantic_core==2.16.3
python-dotenv==1.0.1
PyYAML==6.0.1
regex==2023.12.25
requests==2.31.0
rfc3986==1.5.0
safetensors==0.4.2
scipy==1.12.0
six==1.16.0
sniffio==1.3.1
sqlparse==0.4.4
sympy==1.12
termcolor==2.4.0
tiktoken==0.6.0
tokenizers==0.15.2
torch==2.2.1
tqdm==4.66.2
transformers==4.38.2
typing_extensions==4.10.0
urllib3==2.2.1
zipp==3.17.0
